/* Archivo: public/css/custom.css */

:root {
    --color-purple1: #852A6E;
    --color-purple2: #932d76;
    --color-purple3: #7A2764;
    --color-purple4: #73245F;
    --color-blue: #20527C;
}

.bg-purple1 {
    background-color: var(--color-purple1) !important;
}

.bg-purple2 {
    background-color: var(--color-purple2) !important;
}

.bg-purple3 {
    background-color: var(--color-purple3) !important;
}

.bg-purple4 {
    background-color: var(--color-purple4) !important;
}

.bg-blue {
    background-color: var(--color-blue) !important;
}

.text-white {
    color: #FFFFFF !important;
}

.text-purple1 {
    color: var(--color-purple1) !important;
}

.text-purple2 {
    color: var(--color-purple2) !important;
}

.text-purple3 {
    color: var(--color-purple3) !important;
}

.text-purple4 {
    color: var(--color-purple4) !important;
}

.text-blue {
    color: var(--color-blue) !important;
}

.text-center {
    text-align: center;
}

.table thead th {
    border-bottom: 2px solid var(--color-purple3);
}

.table tbody tr {
    color: #000000 !important;
}

.h3, .h4, .h5, .h6 {
    margin-bottom: 0;
}